<!--The content below is only a placeholder and can be replaced.-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<div style="text-align:center">
<h1>{{ title }}</h1>


<button class="btn btn-primary btn-lg" [ngClass]="{'selected':('PST' ==zone)}" (click)="onButtonClick('PST')" >PST</button>
<button class="btn btn-primary btn-lg" [ngClass]="{'selected':('MST' ==zone)}" (click)="onButtonClick('MST')" >MST</button>
<button class="btn btn-primary btn-lg" [ngClass]="{'selected':('CST' ==zone)}" (click)="onButtonClick('CST')" >CST</button>
<button class="btn btn-primary btn-lg" [ngClass]="{'selected':('EST' ==zone)}" (click)="onButtonClick('EST')" >EST</button>
<button class="btn btn-primary btn-lg" [ngClass]="{'selected':('UTC' ==zone)}" (click)="onButtonClick('clear')" >Clear</button>
<h2>{{ time | date:'medium' : zone}}</h2>
</div>